DISCORD_BOT_TOKEN=replace_with_your_bot_token
MUSIC_LIBRARY_PATH=music
FFMPEG_PATH=ffmpeg
FFMPEG_BEFORE_OPTIONS=-nostdin -hide_banner -loglevel warning
FFMPEG_OPTIONS=-vn -ac 2 -ar 48000
COMMAND_SYNC_GUILD_ID=
BOT_OWNER_ID=
LOG_LEVEL=INFO
